{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/projectpunchclockuser/css/Base/show.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/projectpunchclockproject/css/category.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="fluid-row">
    <h1>{{ category.name | title }}</h1>
    <p>{{ category.description }}</p>
    {% if category.parent exists %}
    <p>{{ category.parent }}</p>
</div>
{% endblock %}
