{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/projectpunchclockuser/css/Base/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/projectpunchclockproject/css/project.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="fluid-row">
    <div class="span12">
        <h1>{{ 'projects' | title }}</h1>
        {% include 'ProjectPunchclockUserBundle::datatable.html.twig' with { 'items': projects } %}
    </div>
</div>
{% endblock %}
